/* make each component id that has interactives */
body {
  background-color: #9C835F !important;
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 0;
  font-family: 'Open Sans';
}
h1 {
  color: #F9B23D ;
  font-size: 36px !important;
  font-weight: 700 !important;;  
}
h2 {
  font-weight: 700 !important;; 
  font-size: 36px !important;; 
}
a :hover {
  color: #BD0000 !important;
}
a {
  text-decoration: none !important;
}
button {
  background-color: transparent;
  border: none;
}
.header {
  margin: 0.5em 0.2em ;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: left
}
.arrow-back {
  color: #724C21;
  font-weight: 700;
  padding-bottom: 5px;
  font-size: 72px;
}
.icon {
  margin-top: 1.7em;
  width: 72px;
  height: 72px;
}
.header-text {
  margin-top: 1em;
}
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.clicked {
  border: 2px solid black;
}
.rock {
  width: 223px;
  height: 205px;
}
.paper {
  width: 223px;
  height: 205px;
}
.scissors {
  width: 223px;
  height: 205px;
}
.rock-image {
  width: 128px;
  height: 100px;
}
.paper-image {
  width: 115px;
  height: 150px;
}
.scissors-image {
  width: 135px;
  height: 160px;
}
.select-container {
  position: relative;
  width: 200px;
  display: flex;
  gap: 26px;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}
.game-status {
  font-size: 144px;
  text-decoration: none;
  height: 100px;
  color: #BD0000;
}
.status-text:hover {
  color: inherit;
  text-decoration: none;
}
.status-text {
  color: #BD0000;
  font-weight: 700;
  text-decoration: none;
}
.refresh {
  position: absolute;
  top: 45rem;
  width: 85px;
  height: 85px;
}
.refresh-button {
  width: 77px;
  height: 71px;
}
.win-status {
  position: absolute;
  top: 22rem ;
  padding: 25px 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 10%;
  transform: rotate(-31deg);
  font-size: 38px !important;
  width: 271px;
  height: 167px;
  color: white !important;
  background-color: #4C9654;
}
.lose-status {
  position: absolute;
  top: 22rem  ;
  padding: 25px 60px;
  text-align: center;
  text-align: center;
  font-weight: bold;
  border-radius: 10%;
  transform: rotate(-31deg);
  font-size: 38px !important;
  width: 271px;
  height: 167px;
  color: white !important;
  background-color: #4C9654;
}
.draw-status {
  position: absolute;
  top: 22rem  ;
  padding: 50px 30px;
  text-align: center;
  text-align: center;
  font-weight: bold;
  border-radius: 10%;
  transform: rotate(-31deg);
  font-size: 38px !important;
  width: 271px;
  height: 167px;
  color: white !important;
  background-color: #035B0C;
}

