<html>
  <head>
	<title>Traditional Game Login</title>
	<link rel="stylesheet" href="assets/css/starter.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
		<div id="login-container">
			<div id="login-box">
				<form action="/auth" method="post">
					Username:<br>
					<input type="text" name="username" placeholder="Username" required><br><br>
					Password:<br>
					<input type="password" name="password" placeholder="Password" required><br><br>
					<input id="play-button" type="submit" class="fw-bold btn btn-warning" value="Login">
				</form>
				<a id="login-message"> <%= status %> </a>
			</div>
		</div>
  </body>
</html>