<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/suit-styles.css">
  <link rel="stylesheet" href="assets/css/starter.css">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="header">
      <button>
        <a class="arrow-back" href="/index"><</a>
      </button>
      <img class="icon" src="./image/logo 1.png">
      <h1 class="header-text"> ROCK PAPER SCISSORS </h1>
    </div>
    <div class="content-container">
      <div class="select-container">
        <h2>PLAYER 1</h2>
        <button class="rock">
          <img class="rock-image" src="./image/batu.png">
        </button>
        <button class="paper">
          <img class="paper-image" src="./image/kertas.png">
        </button>
        <button class="scissors">
          <img class="scissors-image" src="./image/gunting.png">
        </button>
      </div>
      <div class="select-container">
        <div id="status" class="game-status">
          <p class="status-text">VS</p>
        </div>
        <button class="refresh">
          <img class="refresh-button" src="./image/refresh.png">
        </button>
      </div>
      <div class="select-container">
        <h2>COM</h2>
        <button class="rock a">
          <img class="rock-image" src="./image/batu.png">
        </button>
        <button class="paper b">
          <img class="paper-image" src="./image/kertas.png">
        </button>
        <button class="scissors c">
          <img class="scissors-image" src="./image/gunting.png">
        </button>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="./assets/js/suit-game.js"></script>
</body>
</html>