<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/suit-styles.css">
  <link rel="stylesheet" href="assets/css/starter.css">
  <title>Document</title>
</head>
<body>
  <section>
    <div class="header">
      <button>
        <a class="arrow-back" href="/index"><</a>
      </button>
      <img class="icon" src="./image/logo 1.png">
      <h1 class="header-text"> ROCK PAPER SCISSORS </h1>
    </div>
    <div class="content-container" >
      <div class="select-container">
        <input id="txtRoomCode" type="text" name="roomCode"/>
        <button id="submitRoomCode" class="h2">Join Room</button>
      </div>  
    </div>
    <div id="play-window" class="content-container">
      <div id="p1-container" class="select-container">
        <h2>MASTER</h2>
        <button class="rock" value="rock" >
          <img class="rock-image" src="./image/batu.png">
        </button>
        <button class="paper" value="paper">
          <img class="paper-image" src="./image/kertas.png">
        </button>
        <button class="scissors" value="scissor">
          <img class="scissors-image" src="./image/gunting.png">
        </button>
      </div>
      <div class="select-container">
        <div id="status" class="game-status">
          <p class="status-text"></p>
        </div>
        <div id="result-container"class="select-container-result">
          <h3>Result</h3>
          <p id="master-pick"></p>
          <p id="guest-pick"></p>
        </div>
      </div>
      <div id="p2-container" class="select-container">
        <h2>GUEST</h2>
        <button class="rock-g" value="rock">
          <img class="rock-image" src="./image/batu.png">
        </button>
        <button class="paper-g" value="paper">
          <img class="paper-image" src="./image/kertas.png">
        </button>
        <button class="scissors-g" value="paper">
          <img class="scissors-image" src="./image/gunting.png">
        </button>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="./assets/js/suit-game.js"></script>
</body>
</html>